<h1>War Chest</h1>

<p>
  Nothing here? Head to your Account Page to import your collection from BGG!
</p>

<div id="masonry-div">
  <% @collections.each do |game| %>
    <div class="item">
        <img src="<%= medium_img_url(game.thumbnail) %>" alt="Picture of game box" />
    </div>
  <% end %>
</div>
