<h1>Your War Chest</h1>

<p>
  Nothing here? Head to your Account Page to import your collection from BGG!
</p>

<% @collections.each do |game| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <img src="<%= "http:" + game.thumbnail %>" alt="" />
      text
    </div>
  </div>
<% end %>
