<!-- <a href="#myModal" role=button class="btn btn-success outline" data-toggle="modal">Compose Message</a> -->

<%= render partial: "modals/direct_message_modal" %>

<% if @messages %>
  <% @messages.each do |msg| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>From: </strong><%= msg.sender_username %>
        <br>
        <strong>Subject: </strong><%= msg.title %>
      </div>
      <div class="panel-body">
        <p><%= msg.body %></p>
      </div>
    </div>
  <% end %>
<% end %>
