<h1>Private Messages</h1>
<a href="#myModal" role=button class="btn btn-success" data-toggle="modal">
  Compose Message
</a>

<%= render partial: "shared/direct_message_modal" %>

<% if @messages %>
  <% @messages.each do |msg| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= msg.title %></strong>
      </div>
      <div class="panel-body">
        <p><%= msg.body %></p>
      </div>
    </div>
  <% end %>
<% end %>
