<%= form_tag rsvps_path, method: :post do %>
  <%= submit_tag 'RSVP to this meetup', class: "btn btn-primary outline" %>
<% end %>

<h1><%= @meetup.location_string %></h1>

<h3 class="indented-text"><%= @meetup.location_address %></h3>

<h1>PEOPLE WHO'VE RSVPed</h1>

<h1>GAMES AVAILABLE</h1>
