<%= render partial: "modals/user_search_modal" %>
<%= render partial: "modals/meetup_scheduler" %>

<a href="#userSearchModal" role=button class="btn btn-success outline" data-toggle="modal">User Search</a>
<a href="#meetupSchedulerModal" role=button class="btn btn-success outline" data-toggle="modal">Schedule Meetup</a>


<h3>Founder: <%= @founder.first.username %></h3>
<h3>Admin:</h3>
<ul>
  <% @administrators.each do |usr| %>
    <li><h5><%= usr.username %></h5></li>
  <% end %>
</ul>
<hr>
