<h3>All Groups</h3>
<% if @groups %>
  <dl>
    <% @groups.each do |group| %>
        <dt><%= group.name %></dt> - <dd><%= link_to "View Group", group_path(group), class: "btn btn-xs btn-primary" %></dd>
        <hr>
    <% end %>
  </dl>
<% end %>
