<% if @groups %>
  <% @groups.each do |group| %>
    <h3><%= link_to group.name, group_path(group) %></h3>
    <p ><%= group.location %></p>
    <p ><%= group.description %></p>
  <% end %>
<% end %>
