
<!-- <a href="/groups/new" class="btn btn-primary">Join a Group</a> -->


<h3>All Groups</h3>
<% if @groups %>
  <dl>
    <% @groups.each do |group| %>
        <dt><%= group.name %></dt> - <dd><%= link_to "View Group", group_path(group), class: "btn btn-xs btn-primary" %></dd>
    <% end %>
  </dl>
<% end %>
