<h3>Enter your BGG username and then click import</h3>

<input type="text" id="bgg-username" class="styled-input" placeholder="BGG username here">

<button name="button" class="btn btn-primary outline" id="import-collection">Import!</button>
