/*SIDEBAR*/
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


/*DL STRUCTURE*/
dt:before {
  content: "";
  display: block;
}
dt, dd {
  display: inline;
}
/*DL STRUCTURE*/

/*ADMIN SEARCH*/

#search-form {
  margin-bottom: 10px;
}


/*GENERAL*/
span {
  margin: 0px 2.5px;
}

.sidebar-nav span {
  margin: 0px 5px;
}
