// VARS
$header-fonts: "Unica One", Helvetica, Arial, sans-serif;
$body-fonts: "Vollkorn", Helvetica, Arial, sans-serif;

$brand-color: #ECC436;
// $brand-complement-1: #3AECB1;
// $brand-complement-1: #B71EB9;
$dark-grey: #778288;
$light-grey: #DDD;




// SIDEBAR
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}



// DL STRUCTURE
dt:before {
  content: "";
  display: block;
}
dt, dd {
  display: inline;
}



// ADMIN SEARCH
#search-form {
  margin-bottom: 10px;
}



// HEADERS
#board-logo a {
  font-family: $header-fonts;
  color: $brand-color;
  text-decoration: none;
}

#header-logo {
  color: $dark-grey;
  display: inline-block;
}



// GENERAL
span {
  margin: 0px 2.5px;
}

.sidebar-nav span {
  margin: 0px 5px;
}

a:hover {
  text-decoration: none;
  color: #DDD;
}
a {
  text-decoration: none;
  color: $brand-color;
}

#primary-content h1,
#primary-content h2,
#primary-content h3,
#primary-content h4,
#primary-content h5,
#primary-content h6 {
  color: $brand-color;
}

.item {
  margin: 5px;
}

body {
  font-family: $body-fonts;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  background-color: #FFF;
}

h1, h2, h3, h4, h5, h6, {
  font-family: $header-fonts;
}

#primary-content {
  background: #cfa76e;
  background-image: image-url("ZenBG.png");
  padding: 40px;
}

img {
  padding: 1px;
  background: $dark-grey;
  border-radius: 3px;
  cursor: pointer;
}

ul {
  list-style: none;
}

div label {
  color: $light-grey;
}

.styled-input {
  background: hsla(0, 0%, 31%, 0.8);
  border-radius: 3px;
  color: #F5F5F5;
  padding: 5px 5px 5px 15px;
  margin: 5px;
  border: 1px solid #F5F5F5;
}

#rsvp-info {
  color: $dark-grey;
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

.inline-block {
  display: inline-block;
}

#primary-content p,
#primary-content span, {
  color: $light-grey;
}

#primary-content a {
  color: $light-grey;
  text-decoration: underline;
}

#primary-content a:hover {
  color: $brand-color;
  text-decoration: none;
}



// BOOTSTRAP OVERRIDES

// NESTED WELLS

#primary-content .well {
  background: hsla(0, 0%, 31%, 0.8);
  font-size: .75em;
  // background: hsla(0, 0%, 0%, .4);
}


// MODAL

.modal-content {
  background: hsla(0, 0%, 31%, 0.95);
}


// NAVBAR
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F5F5F5;
  background-color: $dark-grey;
}

.navbar {
  background: $light-grey;
}

li .has-unread {
  background-color: $brand-color;
}



// PANEL
.panel-heading {
  background-color: $dark-grey;
}

.panel-body {
  background-color: $light-grey;
}



// BUTTONS

#primary-content a.btn {
  text-decoration: none;
}

.btn.outline {
    background: none;
    padding: 8px 15px;
}

.btn-primary.outline {
    border: 2px solid $light-grey;
    color: $light-grey;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
    color: $brand-color;
    border-color: $brand-color;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: $brand-color;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
